<mat-card>
    <h1>{{formType}}</h1>
    <form #studentForm = "ngForm">
      
        <div class="example-container">
          <p>
            <mat-form-field appearance="fill">
              <mat-label class = "control-label">Matgrade</mat-label>
              <input matInput
              [(ngModel)] = "matgrade"
                name = "matgrade"
                required>
            </mat-form-field>
          </p>
          <p>   
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Psycho</mat-label>
              <input matInput
              [(ngModel)] = "psycho"
                name = "psycho"
                type = "number">
            </mat-form-field>
          </p>

          <p>   
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Ispay</mat-label>
              <input matInput
              [(ngModel)] = "ispay"
                name = "ispay"
                >
            </mat-form-field>
          </p>


          <div>
            <button mat-raised-button color="primary" 
            (click)="updateParent()">Add student
           </button>
 
           <button mat-raised-button color="" (click)= "tellParentToClose()">
             Cancel            
         </button>
 
           </div>
        </div>
        {{errorMessage}}
    </form>
</mat-card>

