<mat-card>
    <h1>Login Form</h1>
    <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()" >

        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput
              [(ngModel)] = email
                name = email
                required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput
              [(ngModel)] = password
                name = password
                required>
            </mat-form-field>
          </div>
        <div>
           <button [disabled] = "!loginForm.form.valid"  type = "submit" mat-raised-button color="primary">Login</button>
        </div>
    </form>
    <div *ngIf ="hasError" class="error">
      {{errorMessage}}
    </div>
</mat-card>

