<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<button mat-raised-button
  color = "primary"
  (click) = "addStudentFormOPen = !addStudentFormOPen"
>
Add Student
</button> 

<student-form
    *ngIf = "addStudentFormOPen"
    (update) = "add($event)"
    (closeEdit) = "addStudentFormOPen = false"
    [formType] = "'Add Student'">

</student-form>




<mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel  (opened)="panelOpenState = true "
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
        {{student.psycho}}
        </mat-panel-title>
        
        <mat-panel-description>
          {{student.matgrade}}  
        </mat-panel-description>
    <mat-panel-description>
      {{student.ispay}}  
    </mat-panel-description>

    <mat-panel-description> 
    <button mat-raised-button
  color = "primary"
  (click) = "predict(student.matgrade,student.psycho,student.ispay,i)">
  Predict
</button>

<button *ngIf = "result[i]" mat-raised-button
  color = "primary"
  (click) = "isclick">
  cancel
</button>

</mat-panel-description>  
        

  <mat-panel-description>
    {{result[i]}}
  </mat-panel-description>       

  <mat-panel-description>
  <button mat-raised-button
          color = "primary"
          (click) = "deleteStudent(student.id)">
          Delete
          </button>
  </mat-panel-description>